.url-input-container {
  width: 1110px;
  height: 168px;
  margin: 0 auto;
  background-image: url("../../assets/url-input-background.svg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.url-input-container input {
  border-radius: 10px;
  width: 769px;
  border-style: none;
  padding: 20.5px 0 20.5px 32px;
  font-size: 20px;
  color: var(--secondary-text-color);
}

.url-input-container input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: inherit;
  opacity: 1; /* Firefox */
}

.url-input-container .btn-link {
  margin-left: 24px;
  border-radius: 10px;
  padding: 17px 40px;
}
