.url-input-section {
  position: relative;
  height: 233px;
  /* +248px when full */
}

.url-input-section.results-1 {
  height: 324px;
}
.url-input-section.results-2 {
  height: 415px;
}
.url-input-section.results-3 {
  height: 506px;
}

.url-input-container {
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translate(-50%);
  width: 1110px;
  margin: 0 auto;
}

.url-input {
  width: 100%;
  height: 168px;
  background-image: url("../../assets/url-input-background.svg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.url-input input {
  border-radius: 10px;
  width: 769px;
  border-style: none;
  padding: 20.5px 0 20.5px 32px;
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.url-input input.invalid {
  border: solid 3px var(--error-text-color);
  padding: 17.5px 0 17.5px 32px;
  color: var(--error-text-color);
}

.display-message {
  display: none;
  position: absolute;
  top: 124px;
  left: 64px;
  font-size: 16px;
  font-style: italic;
  color: var(--error-text-color);
}
.display-message.show {
  display: inline-block;
}

.url-input input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: inherit;
  opacity: 1; /* Firefox */
}

.url-input-container .btn-link {
  margin-left: 24px;
  border-radius: 10px;
}
.url-input .btn-link {
  padding: 20.5px 40px;
}

.results-list .btn-link {
  padding: 10px 7px;
  font-size: 15px;
  width: 103px;
}

.results-list .btn-link.activated {
  background-color: var(--cta-secondary);
}

.results-list a {
  color: var(--cta-primary);
}
.results-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.results-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 18px 24px 18px 32px;
  margin: 8px 0;
  border-radius: 5px;
  background-color: var(--white);
}
.results-item.loading {
  height: 71px;
  animation: loadingGradient 3s infinite linear;
  background: linear-gradient(to right, #9ae3e3 60%, #fff 60%);
  background-size: 300% 100%;
  background-position: 100% 0;
}
@keyframes loadingGradient {
  to {
    /* background: linear-gradient(to left, #9ae3e3 100%, #ffffff); */
    background-position: 0% 0;
    /* background: linear-gradient(to left, #9ae3e3 100%, #fff); */
  }
}

.results-destination {
  margin-right: auto;
  padding-right: 10px;
}

@media only screen and (max-width: 1110px) {
  .url-input-section {
    height: 163px;
  }
  .url-input-section.results-1 {
    height: 254px;
  }
  .url-input-section.results-2 {
    height: 345px;
  }
  .url-input-section.results-3 {
    height: 436px;
  }
  .url-input-container {
    position: absolute;
    top: -78px;
    left: 50%;
    transform: translate(-50%);
    width: 327px;
  }
  .url-input {
    flex-direction: column;
    padding: 24px;
    height: 160px;
    background-image: url("../../assets/url-input-mobile-background-small.svg");
  }
  .url-input.invalid {
    height: 182px;
    background-image: url("../../assets/url-input-mobile-background.svg");
  }
  .url-input input {
    margin-bottom: 16px;
    width: 100%;
    font-size: 16px;
    padding: 15px 0 15px 16px;
  }
  .url-input input.invalid {
    margin-bottom: 38px;
    padding: 15px 0 15px 16px;
  }
  .url-input input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: inherit;
    opacity: 1; /* Firefox */
  }
  .display-message {
    top: 81px;
    left: 25px;
    font-size: 12px;
  }
  .url-input-container .btn-link {
    margin-left: 0;
    font-size: 16px;
    padding: 15px 40px;
  }
  .url-input .btn-link {
    width: 100%;
  }
}
