.hero-container {
  overflow: hidden;
  padding: 139px 0 200px 0;
}

.hero-info {
  max-width: 565px;
}

.hero-container p {
  margin-bottom: 38px;
}

.hero-row {
  display: flex;
}

.hero-image {
  position: relative;
}

.hero-image img {
  position: absolute;
  top: -60px;
  left: 80px;
}
