header {
  margin-top: 48px;
}

.header-container {
  position: relative;
  display: flex;
  font-weight: bold;
  font-size: 15px;
}

.header-container .mobile {
  display: none;
}

.nav-list .btn-link {
  font-size: 15px;
  margin-left: 23px;
  padding: 0 7px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.nav-list .nav-home a {
  padding: 0;
  margin-right: 37px;
}

.nav-list a {
  text-decoration: none;
  color: inherit;
  padding: 8.5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list-primary {
  margin-right: auto;
}

.hamburger-button {
  background-color: transparent;
  padding: 5px;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 105px;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--cta-secondary);
  z-index: 1000;
  width: 327px;
  font-weight: 700;
  padding: 25px 24px;
  border-radius: 10px;
}

.mobile-nav li {
  width: 100%;
  text-align: center;
}
.nav-menu-br {
  display: block;
  background-color: #9e9aa8;
  width: 100%;
  height: 1px;
  opacity: 0.3;
  margin: 15px 0;
}

.mobile-nav .btn-link {
  width: 100%;
  padding: 12px 40px 9px 40px;
  margin: 9px 0 15px 0;
  font-size: 18px;
}
.mobile-nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  color: var(--white);
}

.mobile-nav.open {
  display: flex;
}

@media only screen and (max-width: 1110px) {
  .header-container .desktop {
    display: none;
  }
  .header-container .mobile {
    display: inline-block;
  }
  .content-container.header-container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 565px) {
  .content-container.header-container {
    max-width: 327px;
  }
}

@media only screen and (max-width: 327px) {
  .content-container.header-container,
  .mobile-nav {
    width: 90%;
  }
}
