@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#app,
button,
input {
  font-family: Poppins, Helvetica, Arial, sans-serif;
}
#app {
  --primary-text-color: #34313d;
  --secondary-text-color: #9e9aa8;
  --cta-primary: #2bd0d0;
  --cta-secondary: #3a3054;
  --footer-bg-color: #232127;
  --footer-link-color: #bfbfbf;
  --error-text-color: #f46363;
  --white: #ffffff;

  --desktop-min-px: 1110px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section.bg-col {
  background-color: #eff1f7;
}

h1 {
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
  margin-bottom: 5px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 22px;
  color: var(--secondary-text-color);
}

.content-container {
  max-width: 1110px;
  margin: 0 auto;
}

button {
  border-style: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

.btn-link {
  text-decoration: none;
  display: inline-block;
  background-color: var(--cta-primary);
  font-size: 20px;
  font-weight: bold;
  border-radius: 28px;
  padding: 13px 40px;
  color: var(--white);
  transition: background-color 0s;
}

.btn-link:hover {
  background-color: #9ae3e3;
  transition: background-color 0.1s;
}

@media only screen and (max-width: 1110px) {
  h1 {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 28px;
    margin-bottom: 16px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }
  .content-container {
    align-items: center;
    text-align: center;
    max-width: initial;
  }
}

@media only screen and (max-width: 540px) {
  .content-container {
    align-items: center;
    text-align: center;
    max-width: 327px;
  }
}

@media only screen and (max-width: 327px) {
  .content-container {
    max-width: 95%;
  }
}
