@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#app {
  --primary-text-color: #34313d;
  --secondary-text-color: #9e9aa8;
  --cta-primary: #2bd0d0;
  --cta-secondary: #3a3054;
  --footer-bg-color: #232127;
  --footer-link-color: #bfbfbf;
  --error-text-color: #f46363;
  --white: #ffffff;

  font-family: Poppins, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section.bg-col {
  background-color: #eff1f7;
}

h1 {
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
  margin-bottom: 5px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 22px;
  color: var(--secondary-text-color);
}

.content-container {
  max-width: 1110px;
  margin: 0 auto;
}

button {
  border-style: none;
}

.btn-link {
  text-decoration: none;
  display: inline-block;
  background-color: var(--cta-primary);
  font-size: 20px;
  font-weight: bold;
  border-radius: 28px;
  padding: 13px 40px;
  color: var(--white);
  transition: background-color 0s;
}

.btn-link:hover {
  cursor: pointer;
  background-color: #9ae3e3;
  transition: background-color 0.1s;
}

a:hover {
  cursor: pointer;
}
